* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    background: rgb(3, 132, 253);
    overflow: hidden;
}

h3 {
    color: white;
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    width: 500px;
    /* height: 300px;
    background-color: rgb(105, 184, 144);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); */
}

.textarea {
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: inherit;
    border-radius: 10px;
    margin: 0 0 20px;
}

.tag {
    background-color: blueviolet;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight {
    background-color: black;
}